<!-- <div class="login-box card">
  <div class="text-center mar-20">
    <img [src]="logoUrl" width="100px">
  </div>
  <div class="card-body">
    <form class="form-horizontal form-material" (submit)="forgot(frm)" #frm="ngForm">
      <h3 class="box-title m-b-20">Forgot password</h3>
      <div class="form-group ">
        <div class="col-xs-12">
          <input class="form-control" placeholder="Email" required type="text" name="email"
            [(ngModel)]="email"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
            #em="ngModel" />
        </div>
        <div *ngIf="em.errors && (em.dirty || em.touched || submitted)">
          <p [hidden]="!em.errors.required" class="error">
            Email is required
          </p>
          <p [hidden]="!em.errors.pattern" class="error">
            Email is invalid format
          </p>
        </div>
      </div>

      <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
          <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Submit</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12 font-14">
          <span class="text-dark pull-right">
            <a routerLink="/auth/login"> Login</a>

            Or

            <a routerLink="/auth/register"> Register</a>
          </span>
        </div>
      </div>
    </form>
  </div>
</div> -->

<div class="login-box card">
  <div class="text-center mar-20">
    <img [src]="logoUrl" width="100px">
  </div>
    <div class="registration-inner">
      <div class="registration-header">
        <h1>FORGOT PASSWORD </h1>
      </div>
      <div class="registration-card-body">
        <div class="col-md-12">
          <form class="form-horizontal form-material" (submit)="forgot(frm)" #frm="ngForm">
            <div class="input-group">
                <input class="form-control" placeholder="Email" required type="text" name="email"
                  [(ngModel)]="email"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                  #em="ngModel" />
              <div *ngIf="em.errors && (em.dirty || em.touched || submitted)">
                <p [hidden]="!em.errors.required" class="error">
                  Email is required
                </p>
                <p [hidden]="!em.errors.pattern" class="error">
                  Email is invalid format
                </p>
              </div>
            </div>

            <div class="reg-submit-sec">
              <!-- <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" (click)="login()">Log In</button> -->
              <button type="submit">
                <span class="btn-text">Submit</span>
                <span class="btn-icon"><i class="mdi mdi-chevron-right"></i></span>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-12 font-14">
          <span class="text-dark pull-right">
            <a routerLink="/auth/login"> Login</a>
            Or
            <a routerLink="/auth/register"> Register</a>
          </span>
        </div>
      </div>
    </div>
  <!-- </div> -->

</div>

