<div class="login-body">
  <div class="login-box">
    <div class="text-center mar-20">
      <!-- <img [src]="logoUrl" width="100px"> -->
    </div>
      <div class="registration-inner">
        <div class="registration-header">
          <h1>GearsBD Seller Login </h1>
        </div>
        <div class="registration-card-body">
          <div class="col-md-12">
            <form class="form-horizontal form-material">
              <div class="input-group">
                <input class="form-control" placeholder="Email" required type="email" autocomplete="off" name="email"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="credentials.email" #email="ngModel" />
                <div *ngIf="email.errors && (email.dirty || email.touched)">
                  <p [hidden]="!email.errors.required" class="error">
                    Email is required
                  </p>
                  <p [hidden]="!email.errors.pattern" class="error">
                    Email is invalid email address.
                  </p>
                </div>
              </div>
  
              <div class="input-group">
                <input class="form-control" placeholder="Password" required type="password" autocomplete="off" name="pw" [(ngModel)]="credentials.password" />
              </div>
  
              <div class="reg-submit-sec">
                <!-- <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" (click)="login()">Log In</button> -->
                <button type="submit" (click)="login()">
                  <span class="btn-text">Log In</span>
                  <span class="btn-icon"><i class="mdi mdi-chevron-right"></i></span>
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-12 font-14 text-center">
            <span class="text-dark">
              <a routerLink="/auth/forgot"> Forgot password ? </a>
              Or
              <a routerLink="/auth/register"> Register ? </a>
            </span>
          </div>
        </div>
      </div>
    <!-- </div> -->
  
  </div>
  
</div>