<div class="row">
  <div class="col-lg-12">
     <div class="card">
      <form class="form-pill" (submit)="submit(frm)" #frm="ngForm" *ngIf="ticket">
           <input type="hidden" name="_token" value="MyKgZuNcVsXlDgm98wmAoljdpE0oFpDIdgygK0vb">
           <div class="form-body">
              <div class="card-body">
                 <div class="row">
                    <div class="col-md-6">
                       <div class="form-group">
                          <label>Name</label>
                          <input type="text" class="form-control" name="name" value="{{ user.name }}" readonly="">
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="form-group">
                          <label>Email Address</label>
                          <input type="text" class="form-control" name="email" value="{{ user.email }}" readonly="">
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-12 ">
                       <div class="form-group">
                          <label>Subject</label>
                          <input type="text" class="form-control" name="subject" [required]="true" [(ngModel)]="ticket.subject" #subject="ngModel">
                          <div *ngIf="subject.errors && (subject.dirty || subject.touched || isSubmitted)">
                            <p [hidden]="!subject.errors.required" class="required-text">
                              Subject is required
                            </p>
                          </div>
                       </div>
                    </div>
                    <!--/span-->
                 </div>
                 <!--/row-->
                 <div class="row">
                    <div class="col-md-4">
                       <div class="form-group">
                          <label>Category</label>
                          <ng-select bindValue="name" bindLabel="name" [required]="true" placeholder="Select Category"  name="category" [items]="supportCategoryList" [(ngModel)]="ticket.category" #category="ngModel">
                          </ng-select>
                          <div *ngIf="category.errors && (category.dirty || category.touched || isSubmitted)">
                            <p [hidden]="!category.errors.required" class="required-text">
                              Category is required
                            </p>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div class="form-group">
                          <label>Related Order</label>
                          <ng-select bindValue="_id" bindLabel="trackingCode" (clear)="clearSearch()" placeholder="Select Order"  name="reference" [items]="orderList" [(ngModel)]="ticket.reference" #reference="ngModel">
                          </ng-select>
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div class="form-group">
                          <label>Priority</label>
                          <ng-select bindValue="name" bindLabel="name" [required]="true" placeholder="Select Priority"  name="priority" [items]="priorityList" [(ngModel)]="ticket.priority" #priority="ngModel">
                          </ng-select>
                          <div *ngIf="priority.errors && (priority.dirty || priority.touched || isSubmitted)">
                            <p [hidden]="!priority.errors.required" class="required-text">
                              priority is required
                            </p>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-12 ">
                       <div class="form-group">
                          <label>Message</label>
                          <textarea class="form-control" rows="8" name="description" [required]="true" [(ngModel)]="ticket.description" #description="ngModel"></textarea>

                          <div *ngIf="description.errors && (description.dirty || description.touched || isSubmitted)">
                            <p [hidden]="!description.errors.required" class="required-text">
                              description is required
                            </p>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- <div class="row">
                    <div class="col-md-6">
                       <div class="input-group mb-3">
                          <div class="input-group-prepend">
                             <button id="addAttachment" type="button" class="btn btn-success"><i class="fa fa-plus"></i> Attachments</button>
                          </div>
                       </div>
                       <span class="help-block" style="display: inline-block;margin-bottom: 0;margin-top: 0">
                       <em>Valid file type: jpg, jpeg, gif, png and File size max: 2 MB.</em>
                       </span>
                    </div>
                 </div>
                 <div class="row m-t-10">
                    <div class="col-md-6">
                       <div id="attachmentWrap" class="coattachmentl-md-8">
                          <p id="maximumMsg" class="text-danger mt-2 hidden">
                             You can add maximum 5 attachments.
                          </p>
                       </div>
                    </div>
                 </div> -->
              </div>
              <div class="form-actions">
                 <div class="card-body">
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                 </div>
              </div>
           </div>
        </form>
     </div>
  </div>
</div>
