<!-- <div class="content-wrapper"> -->
  <!-- <div class="content"> -->
      <!-- <div class="row">
          <div class="col-md-12">
              <div class="page_title">
                  <h1>Subscriptions</h1>
              </div>
          </div>
      </div> -->
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="page_title">
                    <h1>Subscriptions</h1><hr>
                    <h6 class="current-plan-details" *ngIf="activePackage?.packageName">Now Your Active Package : {{ activePackage?.packageName }} / Expires {{ activePackage?.expiresIn }}</h6>
                    <h6 class="current-plan-details" *ngIf="!activePackage?.packageName">You don't have any subscription right now.</h6>
                </div>
            </div>
        </div>
        <div class="subscriptions-sec">
            <div class="subscriptions-header" *ngIf="activePackage?.packageName">
                <div class="subscriptions-header-inner">
                     <div class="subscriptions-checker">
                         <i class="mdi mdi-check-circle"></i>
                     </div>
                </div>
            </div>
            <div class="subscriptions-body row">
                <div class="col-md-12 col-xl-12 change-subscriptions">
                    <div class="change-subscriptions-inner">
                         <h2 class="change-subscriptions-header">Select your package</h2>
                         <!-- <h6 class="cancel-subscriptions-btn">Cancel your Plan</h6> -->
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 current-subscriptions-card-box" *ngFor="let package of packages, let i = index" [ngClass]="{ 'selected-plan': subscriptionCardStatus == true && subscriptionCardId === i }">
                    <div class="subscriptions-card-box-inner"  >
                        <div class="card mb-4  subscriptions-card" (click)="subscriptionActiveCard(i, package._id)">
                            <div class="card-body">
                                <h5 class="card-title"><span>{{ package.title }}<i class="name-tag">(Popular)</i></span></h5>
                                <p class="subscriptions-offer-box">
                                  You got {{ package.quantity }} post boosts for <br> upto <strong>{{ package.total_time }}</strong> hours each
                                  <span *ngIf="package.feature.saller_visibility"> + <strong>S</strong>itewide seller name visibility</span>
                                  <span *ngIf="package.feature.commission_rate"> + <strong>{{ package.feature.commission_rate }}</strong>% commission rate</span>.</p>
                                <p class="card-text subscriptions-card-price">৳{{ package.price }}/mo</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="subscriptions-footer">
                <button (click)="activatePackage()" class="btn subscriptions-btn">Activate Now <i class="mdi mdi-check"></i></button>
            </div>
        </div>
    </div>
  <!-- </div> -->
<!-- </div> -->

<!-- <div class="card card-body">
  <div class="container">
    <div class="row text-center mb-4">
      <div class="col-md-12" *ngIf="!total && !isLoading">
        <p class="text-center text-danger">There is no items yet..</p>
      </div>
      <div class="col-md-4" *ngFor="let item of packages">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{item?.name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{item?.price | currency}}
              <small class="text-muted">/ {{item.numDays}}
                <span *ngIf="item.numDays > 1"> days</strong>
                <span *ngIf="item.numDays < 2"> day</span>
              </small>
            </h1>
            <div class="des-hover">
              {{item?.description | slice:0:100}}{{item?.description.length > 100 ? '...' : ''}}
              <span>{{item?.description}}</span>
            </div>
            <button type="button" class="btn btn-lg btn-block btn-primary" (click)="payment(item)">Buy Package</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
