<div class="row digital-product-create">
  <!-- <div class="col-12"> -->
  <div class="col-6">
    <div class="card card-table-border-none">
      <div class="card-body">
        <form class="form-pill" (submit)="submit(frm)" #frm="ngForm" *ngIf="product">
          <div class="form-group">
            <label>Choose Product (*)</label>
            <ng-select bindValue="_id" disabled (change)="setProductName($event)" (keyup)="searchProduct($event)"
              bindLabel="name" [required]="true" placeholder="Select Product" name="boilerplateId" [items]="items"
              [(ngModel)]="product.boilerplateId" #boilerplateId="ngModel">
            </ng-select>
            <div *ngIf="boilerplateId.errors && (boilerplateId.dirty || boilerplateId.touched || isSubmitted)">
              <p [hidden]="!boilerplateId.errors.required" class="required-text">
                Product is required
              </p>
            </div>
          </div>

          <div class="form-group product-dynamic-additional-field">
            <label>Activation Code </label>
            <table class="table">
              <tbody class="sortable" [sortablejs]="product.activationCode">
                <tr *ngFor="let code of product.activationCode; let i = index"
                  class="product-dynamic-additional-field-box">
                  <td>
                    <i class="fa fa-bars pr-2 move-icon"></i>
                    <input type="text" name="overview{{i}}" value="{{code}}" class="form-control" />
                    <button (click)="removeActivationCode(i)" class="trash-btn"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>
                    <div class="input-group mb-3 product-dynamic-additional-field-add">
                      <input type="text" class="form-control" placeholder="Enter Activation Code"
                        name="newChemicalValue" [(ngModel)]="newActivationCode.value" />
                      <button class="btn" type="button" (click)="addActivationCode()"><i
                          class="fa fa-plus"></i></button>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- <div class="form-group" *ngIf="product.type === 'digital'">
            <label style="width:100%">Digital FilePath </label>
            <file-upload [options]="fileOptions"></file-upload>
            <div *ngIf="product.type === 'digital' && product.digitalFileId">
              <img src="assets/images/file-exist.jpg" *ngIf="fileType === 'file'" width="45px">
              <img src="assets/images/zip-icon.png" *ngIf="fileType === 'zip'" width="45px">
              <img src="assets/images/pdf-icon.png" *ngIf="fileType === 'pdf'" width="45px">
              <img src="assets/images/rar-exist.png" *ngIf="fileType === 'rar'" width="45px">
              <span *ngIf="product.type === 'digital' && product.digitalFileId && product.digitalFile">
                Mime Type: {{product?.digitalFile?.mimeType}}
              </span>
            </div> -->
            <!-- <img src="assets/images/nofile-available.png" width="45px" *ngIf="product.type === 'digital' && !product.digitalFileId"> -->
          <!-- </div> -->
          <div class="form-row">
            <!-- <div class="col form-group">
                        <label>Visibility</label>
                        <select name="visibility" class="form-control" [(ngModel)]="product.visibility" #visibility="ngModel">
                          <option value="{{product?.visibility}}">{{product?.visibility}}</option>
                          <option value="public">Public</option>
                          <option value="private">Private</option>
                        </select>
                      </div> -->
            <div class="col form-group">
              <label>Product Price</label>
              <input type="number" (keyup)="calculateProfit($event)" name="price" min="15" class="form-control"
                [(ngModel)]="product.price" required #price="ngModel" />
              <div *ngIf="price.errors && (price.dirty || price.touched || isSubmitted)">
                <p [hidden]="!price.errors.required" class="required-text">
                  Product Price is required
                </p>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label>Product Sale Price</label>
              <input type="number" (keyup)="calculateProfit($event)" name="salePrice" min="15" class="form-control"
                [(ngModel)]="product.salePrice" required #salePrice="ngModel" />
              <div *ngIf="salePrice.errors && (salePrice.dirty || salePrice.touched || isSubmitted)">
                <p [hidden]="!salePrice.errors.required" class="required-text">
                  Product Sale Price is required
                </p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card card-table-border-none" id="recent-orders">
      <div class="card-header justify-content-between">
        <h2>All Keys</h2>
      </div>
      <div class="card-body pt-0">
        <table class="table card-table table-responsive table-responsive-large" style="width:100%">
          <thead>
            <tr>
              <th class="d-md-table-cell">Key</th>
              <th class="d-md-table-cell">Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!total && !isLoading">
              <td colspan="10">
                <p class="text-center text-danger">There is no keys yet..</p>
              </td>
            </tr>
            <tr *ngFor="let key of keys, let i = index">
              <td>{{ key.key }}</td>
              <td>
                <span class="badge badge-success" *ngIf="key.status === 'unsold'">Unsold</span>
                <span class="badge badge-danger" *ngIf="key.status === 'sold'">Sold</span>
              </td>
              <td *ngIf="key.status === 'unsold'">
                <a data-toggle="modal" data-toggle="modal" data-target="#myModal" (click)="showModal(key)">
                  <span class="badge badge-primary">
                    <i class="fa fa-pencil"></i>
                  </span>
                </a> &nbsp;
                <!-- [routerLink]="['/products/digital/update', key?._id ]" -->
                <!-- <a (click)="remove(item?._id, i)"> -->
                <!-- <a>
                  <span class="badge badge-danger">
                    <i class="fa fa-trash"></i>
                  </span>
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit key</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="updateKey(frm)" #frm="ngForm">
        <div class="modal-body">
            <div class="form-group row">
              <label for="key" class="col-sm-2 col-form-label">Key : </label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" [(ngModel)]="editKeyData.key" name="key" [value]="editKeyData.key" required>
                <input type="hidden" [(ngModel)]="editKeyData.id" name="id" [value]="editKeyData.id" required>
                <!-- <input type="hidden" [(ngModel)]="editKeyData.productId" name="productId" [value]="editKeyData.productId" required> -->
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-modal">Close</button>
          <button type="submit" class="btn btn-success">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
