<header class="main-header " id="header">
  <nav class="navbar navbar-static-top navbar-expand-lg">
      <!-- search form -->
      <div class="search-form d-none d-lg-inline-block">
          <div class="input-group">
              <!-- <button type="button" name="search" id="search-btn" class="btn btn-flat">
                  <i class="mdi mdi-magnify"></i>
              </button> -->
              <!-- <input type="text" name="query" id="search-input" class="form-control"
                  placeholder="Search transactions, invoices or help" autofocus autocomplete="off" /> -->
          </div>
          <div id="search-results-container">
              <ul id="search-results"></ul>
          </div>
      </div>

      <div class="navbar-right ">
          <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu">
                  <button class="dropdown-toggle" data-toggle="dropdown">
                      <i class="mdi mdi-bell-outline"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                      <li class="dropdown-header">You have {{ notifications.total }} notifications</li>
                      <li *ngFor="let notification of notifications.data" [ngClass]="{'notifications-unread':notification.seenAt === null}">
                          <a href="{{ notification.href }}?notification_id={{notification._id}}">
                            <div>
                              <i class="mdi" [ngClass]="[notification.icon]"></i>
                              <span [innerHTML]="notification.title"></span>
                            </div>
                            <div>
                              <span class=" font-size-12 d-inline-block float-right">
                                <i class="mdi mdi-clock-outline"></i>
                                {{ notification.createdAt | timelineDate }}
                              </span>
                            </div>
                          </a>
                      </li>
                      <li class="dropdown-footer" *ngIf="notifications.notificationHas">
                          <a class="text-center" (click)="seeMore($event)" *ngIf="notifications.loading===false"> See More </a>
                          <a class="text-center" *ngIf="notifications.loading"> Loading.... </a>
                      </li>
                  </ul>
              </li>
              <!-- User Account -->
              <li class="dropdown user-menu">
                  <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <span class="d-none d-lg-inline-block">{{ user.name }}</span>
                      <img src="{{ avatarUrl }}" class="user-image" alt="User Image" />
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                      <!-- User image -->
                      <li class="dropdown-header">
                          <img src="{{ avatarUrl }}" class="img-circle" alt="User Image" />
                          <div class="d-inline-block">
                            {{ user.name }} <small class="pt-1">{{ user.email }}</small>
                          </div>
                      </li>

                      <li>
                          <a routerLink="/users/profile/update">
                              <i class="mdi mdi-account"></i> My Profile
                          </a>
                      </li>
                      <li>
                        <a routerLink="/shops/update">
                            <i class="mdi mdi-diamond-stone"></i> My Shop
                          </a>
                      </li>
                      <!-- <li>
                          <a routerLink="/messages/conversations">
                              <i class="mdi mdi-email"></i> Message
                          </a>
                      </li> -->
                      <!-- <li>
                          <a href="#"> <i class="mdi mdi-settings"></i> Account Setting </a>
                      </li> -->

                      <li class="dropdown-footer">
                          <a (click)="logout()"> <i class="mdi mdi-logout"></i> Log Out </a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>


</header>
