<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
      <label>Make Withdraw Request</label>
    </h4>
  </div>
  <div class="modal-body">
    <h5>Account (*):</h5>
    <div class="form-group">
      <input class="form-control" step="0.1" type="number" [(ngModel)]="param.amount" max="{{ param.amount }}"  name="payoutAccountId">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submit()">Send</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>