<!-- <div class="content-wrapper"> -->
  <!-- <div class="content"> -->
      <div class="row">
          <div class="col-md-12">
              <div class="page_title">
                  <h1>SETTELMENTS</h1>
                  <h3>Balance: BTD {{ balance | number : '1.2-2'}} <span (click)="complain()" class="badge badge-danger withdrawBtn">Withdraw</span></h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <!-- Recent Order Table -->
              <div class="card card-table-border-none" id="recent-orders">
                  <div class="card-header justify-content-between">
                      <h2>All Settlements logs</h2>

                  </div>
                  <div class="card-body pt-0 pb-5">
                      <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                          <thead>
                              <tr>
                                  <th>Type</th>                                  
                                  <th class="d-md-table-cell">Amount</th>
                                  <th class="d-md-table-cell">Status</th>
                                  <th class="d-md-table-cell">Requested Date</th>
                                  <th>Transfer To</th>
                                  <!-- <th>Total</th> -->
                              </tr>
                          </thead>
                          <tbody *ngIf="total>0">
                              <tr *ngFor="let item of items, let i = index">
                                <td class="d-md-table-cell"><span class="badge badge-{{ item.tr == 'out' ? 'danger' : 'success' }}">{{ item.tr }}</span></td>
                                <td class="d-md-table-cell"><span class="badge badge-physical">{{ item.amount }}</span></td>
                                <td class="d-md-table-cell"><span class="badge badge-{{ item.status == 'completed' ? 'success' : item.status == 'pending' ? 'warning' : 'danger' }}">{{ item.status }}</span></td>                                
                                <td class="d-md-table-cell"><span class="badge badge-physical">{{ item.createdAt | date }}</span></td>
                                <td class="d-md-table-cell"><span>{{ 'Transfer To Account/Bank' }}</span></td>                 
                              </tr>
                            </tbody>
                      </table>
                  </div>
              </div>
              <div class="card card-default">
                <div class="card-body">
                  <div class="display-inline" [hidden]="total < take">
                    <div class="">
                      <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [pageSize]="take" (pageChange)="query()"></ngb-pagination>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          </div>
      <!-- </div> -->
  <!-- </div> -->
