/***** Left Side*******/

/********************** Rigt Side**********************/
@import "~@ng-select/ng-select/themes/default.theme.css";
.border-circle{
  border-radius: 50%;
}
.border-circle-color-green{
  border:1px solid #4AD991;
  color:#4AD991;
}
.border-circle-color-blue{
  border:1px solid #A3A1FB;
  color:#A3A1FB;
}
.border-circle-color-red{
  border:1px solid #FF7285;
  color:#FF7285;
}
.sale_sec .media-body.green h6{
  color:#4AD991;
}
.sale_sec .media-body.blue h6{
  color:#A3A1FB;
}
.sale_sec .media-body.red h6{
  color:#FF7285;
}
.media .widget-dropdown .dropdown-toggle.icon-burger-mini:before {
  font-family: "Material Design Icons";
  content: "\F1D8";
}
.page_title{
  padding-bottom: 2.5rem;
}
.page_title h1{
  color:#43425D;
  font-weight: bold;
  font-size: 35px;

}
/***** Total Revenue *******/
.sale_sec .media{
  padding: 25px 10px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
  background-color: #fff;
}
