<!-- <div class="content"> -->
  <!-- <div class="row">
      <div class="col-md-12">
          <div class="page_title">
              <h1>PRODUCTS INVENTORY</h1>
          </div>
      </div>
  </div> -->
  <div class="row">
      <div class="col-12">
          <!-- Recent Order Table -->
          <div class="card card-table-border-none" id="recent-orders">
              <div class="card-header justify-content-between">
                  <h2>All Products</h2>
                  <a [routerLink]="['/products/create']" routerLinkActive="router-link-active"  class="product-add-icon"><i class="mdi mdi-plus-circle"></i> Add New</a>
              </div>
              <div class="card-body pt-0 pb-5">
                  <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                      <thead>
                          <tr>
                              <!-- <th class="min-w-40">
                                Image
                              </th> -->
                              <th class="min-w-180">
                                <a (click)="sortBy('name', 'desc')">Product</a>
                                <span *ngIf="sortOption.sortBy=='name'">
                                  <a (click)="sortBy('name', 'asc')" *ngIf="sortOption.sortType=='desc'"><i class="fa fa-caret-down"></i></a>
                                  <a (click)="sortBy('name', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
                                </span>
                              </th>
                              <th>
                                <a (click)="sortBy('type', 'desc')">Product Type</a>
                                <span *ngIf="sortOption.sortBy=='type'">
                                  <a (click)="sortBy('type', 'asc')" *ngIf="sortOption.sortType=='desc'"><i class="fa fa-caret-down"></i></a>
                                  <a (click)="sortBy('type', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
                                </span>
                              </th>
                              <th class="d-md-table-cell">Availability</th>
                              <th class="d-md-table-cell">BOOST Status</th>
                              <th>Per Unit</th>
                              <th>Total</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngIf="!total && !isLoading">
                          <td colspan="10">
                            <p class="text-center text-danger">There is no items yet..</p>
                          </td>
                        </tr>
                        <tr *ngFor="let item of items, let i = index">
                          <!-- <td>
                            <img *ngIf="item.mainImage" [src]="item?.mainImage?.thumbUrl" class="image-responsive" style="width:40px" />
                          </td> -->
                          <td>
                            <img *ngIf="item.mainImage" [src]="item?.mainImage?.thumbUrl" class="image-responsive" style="width:40px" />
                            {{ item.name }}
                          </td>
                          <td>
                            <span class="badge badge-primary" *ngIf="item.type === 'physical'">Physical</span>
                            <span class="badge badge-danger" *ngIf="item.type === 'digital'">Digital</span>
                          </td>
                          <td>{{ item.stockQuantity }}</td>
                          <td class="boosted-tab"><span class="badge badge-success" (click)="boostPreferencesShowHide(item.id, $event)">Boosted 13h</span>
                              <div *ngIf="boostPreferencesShow && boostPreferencesId ===  item.id" (click)="$event.stopPropagation()" class="boost-preferences">
                                  <div class="boost-preferences-header" >
                                    <h3>Boost Preferences</h3>
                                  </div>
                                  
                                  <div class="boost-preferences-body">
                                      <div class="boost-box">
                                        <span class="boost-title">Choose Duration</span>
                                        <div class="boost-checkbox">
                                          <label class="control control-radio">6 hours
                                            <input type="radio" name="boostDuration">
                                            <div class="control-indicator"></div>
                                          </label>
                                        </div>
                                        <div class="boost-checkbox">
                                          <label class="control control-radio">12 hours
                                            <input type="radio" name="boostDuration">
                                            <div class="control-indicator"></div>
                                          </label>
                                        </div>
                                        <div class="boost-checkbox">
                                          <label class="control control-radio">24 hours
                                            <input type="radio" name="boostDuration">
                                            <div class="control-indicator"></div>
                                          </label>
                                        </div>
                                      </div>
                                      <div class="boost-box">
                                          <span class="boost-title">Choose Deployment</span>
                                          <div class="boost-checkbox">
                                            <label class="control control-radio">New
                                              <input type="radio" name="boostDeployment">
                                              <div class="control-indicator"></div>
                                            </label>
                                          </div>
                                          <div class="boost-checkbox">
                                            <label class="control control-radio">Schedule
                                              <input type="radio" name="boostDeployment">
                                              <div class="control-indicator"></div>
                                            </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            </td>
                          <td>
                            <span class="badge badge-success">{{ item.salePrice }}</span>
                          </td>
                          <td>
                            <span class="badge badge-success">{{ item.stockQuantity*item.salePrice }}</span>
                          </td>
                          <td>
                            <a [routerLink]="['/products/update', item?._id ]">
                              <i class="fa fa-pencil"></i>
                            </a> &nbsp;
                            <a (click)="remove(item?._id, i)">
                              <i class="fa fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="card card-default">
              <div class="card-body">
                <div class="display-inline" [hidden]="total < take">
                  <div class="">
                    <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [pageSize]="take" (pageChange)="query()"></ngb-pagination>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  <!-- </div> -->
