.img-circle {
  border-radius: 100%;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: inline-block;
}

h3 {
  line-height: 30px;
  font-size: 21px;
}

.panel-default{
  margin-bottom: 30px;
}

.status{
  width: 50%;
}
