<div id="sidebar" class="sidebar sidebar-with-footer">
    <div class="app-brand">
        <a href="/">
            <span class="brand-name">WEWSOME SELLER PANEL</span>
        </a>
    </div>
    <!-- begin sidebar scrollbar -->
    <div class="sidebar-scrollbar">
        <!-- sidebar menu -->
        <ul class="nav sidebar-inner" id="sidebar-menu">
            <li class="has-sub" routerLinkActive="active">
                <a class="sidenav-item-link sub-menu-toggle" [routerLink]="['/starter']">
                    <i class="mdi mdi-view-dashboard"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li class="has-sub" routerLinkActive="active">
                <a class="sidenav-item-link sub-menu-toggle" [routerLink]="['/orders/list']">
                    <i class="mdi mdi-shopping"></i>
                    <span class="nav-text">Orders</span>
                </a>
            </li>
            <li class="has-sub" routerLinkActive="active">
                <a class="sidenav-item-link sub-menu-toggle" href="javascript:void(0)">
                    <i class="mdi mdi-chart-bar"></i>
                    <span class="nav-text"> Products </span>
                    <i class="mdi mdi-chevron-right sub-menu-arrow"></i>
                </a>
                <ul class="sub-menu-sec">
                    <div class="sub-menu">
                        <li routerLinkActive="active">
                            <a class="sidenav-item-link" [routerLink]="['/products/physical/list']">
                                <i class="mdi mdi-credit-card-multiple"></i>
                                <span class="nav-text"> &nbsp;&nbsp; Phyisical</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a class="sidenav-item-link" [routerLink]="['/products/digital/list']">
                                <i class="mdi mdi-credit-card-multiple"></i>
                                <span class="nav-text"> &nbsp;&nbsp; Digital</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active">
                <a class="sidenav-item-link sub-menu-toggle" [routerLink]="['/settelements/list']">
                    <i class="mdi mdi-currency-usd"></i>
                    <span class="nav-text">Settlements</span>
                </a>
            </li>
            <!-- <li class="has-sub" routerLinkActive="active">
                <a class="sidenav-item-link sub-menu-toggle" [routerLink]="['/users/profile/update']">
                    <i class="mdi mdi-account"></i>
                    <span class="nav-text">My Account</span>
                </a>
            </li> -->
            <li class="has-sub" routerLinkActive="active">
                <a class="sidenav-item-link sub-menu-toggle" href="javascript:void(0)">
                    <i class="mdi mdi-account-multiple-plus"></i>
                    <span class="nav-text"> Accounts </span>
                    <i class="mdi mdi-chevron-right sub-menu-arrow"></i>
                </a>
                <ul class="sub-menu-sec">
                    <div class="sub-menu">
                        <li routerLinkActive="active">
                            <a class="sidenav-item-link" [routerLink]="['/shops/update']">
                                <i class="mdi mdi-shopping"></i>
                                <span class="nav-text"> &nbsp;&nbsp; My Shop </span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a class="sidenav-item-link" [routerLink]="['/users/profile/update']">
                                <i class="mdi mdi-account"></i>
                                <span class="nav-text"> &nbsp;&nbsp; My Profile </span>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active">
                <a class="sidenav-item-link sub-menu-toggle" [routerLink]="['/payments/upgrade']">
                    <i class="mdi mdi-star"></i>
                    <span class="nav-text">Seller Subscriptions</span>
                </a>
            </li>
            <li class="has-sub" routerLinkActive="active">
                <a class="sidenav-item-link sub-menu-toggle" [routerLink]="['/seller-support/list']">
                    <i class="mdi  mdi-comment-text"></i>
                    <span class="nav-text">Seller Support </span>
                </a>
            </li>
            <li class="has-sub" routerLinkActive="active">
                <a class="sidenav-item-link sub-menu-toggle" [routerLink]="['/products/request/list']">
                    <i class="mdi mdi-clipboard-plus"></i>
                    <span class="nav-text">Product Requests </span>
                </a>
            </li>
        </ul>
    </div>
</div>