<!-- <div class="content-wrapper"> -->
  <!-- <div class="content"> -->
      <!-- <div class="row">
          <div class="col-md-12">
              <div class="page_title">
                  <h1>{{ title }}</h1>
              </div>
          </div>
      </div> -->
      <div class="row">
        <div class="col-12">
            <!-- Recent Order Table -->
            <div class="card card-table-border-none" id="recent-orders">
                <div class="card-header justify-content-between">
                    <h2>Product Requests</h2>
                    <a [routerLink]="['/products/request']" routerLinkActive="router-link-active"  class="product-add-icon"><i class="mdi mdi-plus-circle"></i> Add New</a>
                </div>
                <div class="card-body pt-0 pb-5">
                    <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="d-md-table-cell">Status</th>
                                <!-- <th class="d-md-table-cell">Type</th> -->
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!total && !isLoading">
                            <td colspan="10">
                              <p class="text-center text-danger">There is no items yet..</p>
                            </td>
                          </tr>
                          <tr *ngFor="let item of items, let i = index">
                                <td>
                                  {{ item.name }}
                                </td>
                                <td class="d-md-table-cell">
                                    <span class="badge badge-{{ item.status }}">{{ item.status }}</span>
                                </td>
                                <!-- <td class="d-md-table-cell">
                                    <span class="badge badge-{{ item.productType }}">{{ item.productType }}</span>
                                </td> -->
                                <td class="d-md-table-cell">
                                  {{ item.description }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-default">
              <div class="card-body">
                <div class="display-inline" [hidden]="total < take">
                  <div class="">
                    <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [pageSize]="take" (pageChange)="query()"></ngb-pagination>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
<!-- </div> -->
<!-- </div> -->
